<div class="container">
  <div class="main-content">
    <div class="input-container">
      <input
        type="text"
        class="single-line-input"
        placeholder="Title"
        [(ngModel)]="tempTitle"
      />
      <textarea
        class="multi-line-input"
        placeholder="Content"
        rows="10"
        [(ngModel)]="tempContent"
      ></textarea>
      <button (click)="addNote()">Add Note</button>
    </div>
  </div>
  <div class="side-content">
    <ul>
      <li class="note-list" *ngFor="let note of notes; index as i">
        <div (click)="selectNote(i)">
          <h2>{{ note.title }}</h2>
          <p>{{ note.content }}</p>
          @if(selectedIndex === i) {
            <div class="options">
              <button (click)="editNote(i)">Edit</button>
              <button (click)="deleteNote(i)" class="delete-button">
                Delete
              </button>
            </div>
          }
        </div>
      </li>
    </ul>
  </div>
</div>
